@use "sizes" as *;

// Contextual font properties
$-ff-outfit: #{"system-ui, \"Outfit\", sans-serif"};

// Default font weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-heavy: 900;

// Font map for generating font utility classes
$utility-font: (
    "family": (
        "outfit": $-ff-outfit,
    ),
);

// Font map for generating custom font properties
$contextual-font: (
    "family": (
        "body": $-ff-outfit,
    ),
    "size": (
        "body": 1rem,
        "result-message": 1.5rem,
    ),
    "weight": (
        "body": $font-weight-bold,
        "score": $font-weight-normal,
    ),
);

